.h {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
  }

  .column2 {
    float: right;
    width: 50%;
  }

  .logos {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 200px 150px 
  }

  p {
    font-family: Georgia;
    font-weight:200;
  }

 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .image {
    text-align: center;
  }

  .logo {
    width: 40%;
  }
 


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #56c6ca;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #52b7bb; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #56c6ca;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#52b7bb; }